.DS_Store
*.bak
*.sav
/bibtex-tidy-master
*.original
*.txt
*.R
*.aux
*.blg
*.log
*.out
*.gz
DirectionalStats.fls
DirectionalStats.fdb_latexmk
other-bibs/*
DirectionalStatsBib.code-workspace
